body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    color: #40514E;
}

h1 {
    margin: -50px auto 0 auto;
    font-family: 'Labrada', serif;
}

h2 {
    font-family: 'Sacramento', cursive;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Signika Negative', sans-serif;
}

p {
    font-family: 'Labrada', serif;
    line-height: 2;
}

a {
    color: black;
    margin: 10x 20x;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
}

.top-container {
    
    padding-top: 100px;

}

.bottom-container {
    background-color: #C8B6A6;
    line-height: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 30px;
    border: dotted #C8B6A6 6px;
    border-bottom: none ;
    width: 5%;
}

.search {
    margin: 10px auto 10px auto;
    margin-left: 40%;
}


.table {
    margin: 10px auto 10px auto;
    border-spacing: 20px;    
    background-color: #C8B6A6;
}


.hongbang {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}

.hongbang-img {
    float: left;
    width: 50%;
    margin-right: 30px;
}

.aulac-namviet {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}

.aulac-img {
    float: right;
    width: 40%;
    margin-left: 30px;
}

